In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

import matplotlib as plt

from sklearn import datasets
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC

In [2]:
titanic = pd.read_csv("titanic.train.csv")
titanic.describe()

print titanic.describe()
titanic = titanic.drop(['Ticket','Cabin','Name','PassengerId'], axis=1)
# Remove NaN values
titanic = titanic.dropna()

print titanic.describe()

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
         Survived      Pclass         Age       SibSp       Parch        Fare
count  712.000000  712.000000  712.000000  712.000000  712.000000  712.000000
mean     0.404494    2.240169   29.642093    0.514045    0.432584   34.567251
std      0.491139    0.836854   14.492933    0.930692    0.854181   52.938648
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    1.000000   20.000000    0.000000    0.000000    8.050000
50%      0.000000    2.000000   28.000000    0.000000    0.000000   15.645850
75%      1.000000    3.000000   38.000000    1.000000    1.000000   33.000000
max      1.000000    3.000000   80.000000    5.000000    6.000000  512.329200

In [3]:
for col in titanic.select_dtypes(exclude=["number"]).columns:
    print("Converting column "+col+"...")
    titanic[col] = titanic[col].astype('category')    
    print(titanic[col].cat.categories)
    titanic[col] = titanic[col].cat.codes

Converting column Sex...
Index([u'female', u'male'], dtype='object')
Converting column Embarked...
Index([u'C', u'Q', u'S'], dtype='object')

In [4]:
X = titanic.copy()
y = titanic["Survived"]
X=X.drop("Survived", axis=1)
print X.shape
print X.describe()
svm_clf = Pipeline((
        ("scaler", StandardScaler()),
        ("linear_svc", LinearSVC(C=1, loss="hinge")),
    ))

#svm_clf.fit(X_scaled, y)
svm_clf.fit(X, y)

(712, 7)
           Pclass         Sex         Age       SibSp       Parch        Fare  \
count  712.000000  712.000000  712.000000  712.000000  712.000000  712.000000
mean     2.240169    0.636236   29.642093    0.514045    0.432584   34.567251
std      0.836854    0.481420   14.492933    0.930692    0.854181   52.938648
min      1.000000    0.000000    0.420000    0.000000    0.000000    0.000000
25%      1.000000    0.000000   20.000000    0.000000    0.000000    8.050000
50%      2.000000    1.000000   28.000000    0.000000    0.000000   15.645850
75%      3.000000    1.000000   38.000000    1.000000    1.000000   33.000000
max      3.000000    1.000000   80.000000    5.000000    6.000000  512.329200

         Embarked
count  712.000000
mean     1.595506
std      0.779038
min      0.000000
25%      2.000000
50%      2.000000
75%      2.000000
max      2.000000

Pipeline(steps=(('scaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('linear_svc', LinearSVC(C=1, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='hinge', max_iter=1000, multi_class='ovr',
     penalty='l2', random_state=None, tol=0.0001, verbose=0))))

In [5]:
test = pd.read_csv("titanic.test.csv")
test_x = test.drop(['Ticket','Cabin','Name','PassengerId'], axis=1)

print test_x.describe()
for col in test_x.select_dtypes(exclude=["number"]).columns:
    print("Converting column "+col+"...")
    test_x[col] = test_x[col].astype('category')    
    print(test_x[col].cat.categories)
    test_x[col] = test_x[col].cat.codes   

test_x.Age.fillna(value=test_x.Age.mean(), inplace=True)
test_x.Fare.fillna(value=test_x.Fare.mean(), inplace=True)
test_x.Embarked.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)

print test_x.describe()
print test_x.shape

y_pred = svm_clf.predict(test_x)
print y_pred.shape
y_out = test[['PassengerId']].copy()
y_out["Survived"] = pd.DataFrame(y_pred,columns=["Survived"])
print y_out.describe()
print y_out[:10]
y_out.to_csv("titanic.pred.csv",index=False)

           Pclass         Age       SibSp       Parch        Fare
count  418.000000  332.000000  418.000000  418.000000  417.000000
mean     2.265550   30.272590    0.447368    0.392344   35.627188
std      0.841838   14.181209    0.896760    0.981429   55.907576
min      1.000000    0.170000    0.000000    0.000000    0.000000
25%      1.000000   21.000000    0.000000    0.000000    7.895800
50%      3.000000   27.000000    0.000000    0.000000   14.454200
75%      3.000000   39.000000    1.000000    0.000000   31.500000
max      3.000000   76.000000    8.000000    9.000000  512.329200
Converting column Sex...
Index([u'female', u'male'], dtype='object')
Converting column Embarked...
Index([u'C', u'Q', u'S'], dtype='object')
           Pclass         Sex         Age       SibSp       Parch        Fare  \
count  418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean     2.265550    0.636364   30.272590    0.447368    0.392344   35.627188
std      0.841838    0.481622   12.634534    0.896760    0.981429   55.840500
min      1.000000    0.000000    0.170000    0.000000    0.000000    0.000000
25%      1.000000    0.000000   23.000000    0.000000    0.000000    7.895800
50%      3.000000    1.000000   30.272590    0.000000    0.000000   14.454200
75%      3.000000    1.000000   35.750000    1.000000    0.000000   31.500000
max      3.000000    1.000000   76.000000    8.000000    9.000000  512.329200

         Embarked
count  418.000000
mean     1.401914
std      0.854496
min      0.000000
25%      1.000000
50%      2.000000
75%      2.000000
max      2.000000
(418, 7)
(418,)
       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000
   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

# Feature Engineering

In [52]:
import string
from sklearn.ensemble import RandomForestClassifier
forest_clf = RandomForestClassifier(n_estimators=400)

titanic = pd.read_csv("titanic.train.csv")
titanic_test = pd.read_csv("titanic.test.csv")


def substrings_in_string(big_string, substrings):
    try:
        for substring in substrings:
            if string.find(big_string, substring) != -1:
                return substring
        return np.nan
    except:
        return np.nan
    
title_list=['Mrs', 'Mr', 'Master', 'Miss', 'Major', 'Rev',
                    'Dr', 'Ms', 'Mlle','Col', 'Capt', 'Mme', 'Countess',
                    'Don', 'Jonkheer']

titanic['Title']=titanic['Name'].map(lambda x: substrings_in_string(x, title_list))
titanic_test['Title']=titanic_test['Name'].map(lambda x: substrings_in_string(x, title_list))

#Turning cabin number into Deck
cabin_list = ['A', 'B', 'C', 'D', 'E', 'F', 'T', 'G', 'Unknown']
titanic['Deck']=titanic['Cabin'].map(lambda x: substrings_in_string(x, cabin_list))
titanic_test['Deck']=titanic_test['Cabin'].map(lambda x: substrings_in_string(x, cabin_list))

#Creating new family_size column
titanic['Family_Size']=titanic['SibSp']+titanic['Parch']
titanic_test['Family_Size']=titanic_test['SibSp']+titanic_test['Parch']

titanic['AgeXClass']=titanic['Age']*titanic['Pclass']
titanic_test['AgeXClass']=titanic_test['Age']*titanic_test['Pclass']

titanic['Fare_Per_Person']=titanic['Fare']/(titanic['Family_Size']+1)
titanic_test['Fare_Per_Person']=titanic_test['Fare']/(titanic_test['Family_Size']+1)

titanic = titanic.drop(['Ticket','Cabin','Name','PassengerId'], axis=1)
titanic_test = titanic_test.drop(['Ticket','Cabin','Name'], axis=1)

for col in titanic.select_dtypes(exclude=["number"]).columns:
    print("Converting column "+col+"...")
    titanic[col] = titanic[col].astype('category')    
    print(titanic[col].cat.categories)
    titanic[col] = titanic[col].cat.codes   

for col in titanic_test.select_dtypes(exclude=["number"]).columns:
    print("Converting column "+col+"...")
    titanic_test[col] = titanic_test[col].astype('category')    
    print(titanic_test[col].cat.categories)
    titanic_test[col] = titanic_test[col].cat.codes   

titanic.Age.fillna(value=test_x.Age.mean(), inplace=True)
titanic_test.Age.fillna(value=test_x.Age.mean(), inplace=True)

titanic.Fare.fillna(value=test_x.Fare.mean(), inplace=True)
titanic_test.Fare.fillna(value=test_x.Fare.mean(), inplace=True)

titanic.Embarked.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)
titanic_test.Embarked.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)

titanic.Title.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)
titanic_test.Title.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)

titanic.Deck.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)
titanic_test.Deck.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)

titanic.Family_Size.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)
titanic_test.Family_Size.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)

titanic.AgeXClass.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)
titanic_test.AgeXClass.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)

titanic.Fare_Per_Person.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)
titanic_test.Fare_Per_Person.fillna(value=(test_x.Embarked.value_counts().idxmax()), inplace=True)

X = titanic.copy()
y = titanic["Survived"]
X=X.drop("Survived", axis=1)
print X.shape
print X.describe()
svm_clf1 = Pipeline((
        ("scaler", StandardScaler()),
        ("linear_svc", LinearSVC(C=1, loss="hinge")),
    ))

print X.shape
print y.shape
#svm_clf.fit(X_scaled, y)
#svm_clf1.fit(X, y)
forest_clf.fit(X, y)

X = titanic_test.copy()

X=X.drop(["PassengerId"], axis=1)
y_pred1 = forest_clf.predict(X)
print y_pred1.shape
y_out1 = titanic_test[['PassengerId']].copy()

y_out1["Survived"] = pd.DataFrame(y_pred1,columns=["Survived"])
print y_out1.describe()
print y_out1[:10]
y_out1.to_csv("titanic.pred.csv",index=False)

Converting column Sex...
Index([u'female', u'male'], dtype='object')
Converting column Embarked...
Index([u'C', u'Q', u'S'], dtype='object')
Converting column Title...
Index([u'Capt', u'Col', u'Countess', u'Don', u'Dr', u'Jonkheer', u'Major',
       u'Master', u'Miss', u'Mlle', u'Mme', u'Mr', u'Mrs', u'Ms', u'Rev'],
      dtype='object')
Converting column Deck...
Index([u'A', u'B', u'C', u'D', u'E', u'F', u'G', u'T'], dtype='object')
Converting column Sex...
Index([u'female', u'male'], dtype='object')
Converting column Embarked...
Index([u'C', u'Q', u'S'], dtype='object')
Converting column Title...
Index([u'Col', u'Don', u'Dr', u'Master', u'Miss', u'Mr', u'Mrs', u'Ms',
       u'Rev'],
      dtype='object')
Converting column Deck...
Index([u'A', u'B', u'C', u'D', u'E', u'F', u'G'], dtype='object')
(714, 12)
           Pclass         Sex         Age       SibSp       Parch        Fare  \
count  714.000000  714.000000  714.000000  714.000000  714.000000  714.000000
mean     2.236695    0.634454   29.699118    0.512605    0.431373   34.694514
std      0.838250    0.481921   14.526497    0.929783    0.853289   52.918930
min      1.000000    0.000000    0.420000    0.000000    0.000000    0.000000
25%      1.000000    0.000000   20.125000    0.000000    0.000000    8.050000
50%      2.000000    1.000000   28.000000    0.000000    0.000000   15.741700
75%      3.000000    1.000000   38.000000    1.000000    1.000000   33.375000
max      3.000000    1.000000   80.000000    5.000000    6.000000  512.329200

         Embarked       Title        Deck  Family_Size   AgeXClass  \
count  714.000000  714.000000  714.000000   714.000000  714.000000
mean     1.588235   10.225490   -0.116246     0.943978   61.938151
std      0.789963    1.859246    1.672881     1.483788   34.379609
min     -1.000000    0.000000   -1.000000     0.000000    0.920000
25%      2.000000    8.000000   -1.000000     0.000000   38.000000
50%      2.000000   11.000000   -1.000000     0.000000   58.000000
75%      2.000000   11.000000    0.000000     1.000000   81.000000
max      2.000000   14.000000    7.000000     7.000000  222.000000

       Fare_Per_Person
count       714.000000
mean         20.902111
std          37.622879
min           0.000000
25%           7.380200
50%           9.287500
75%          26.000000
max         512.329200
(714, 12)
(714,)
(418,)
       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.535885
std     120.810458    0.499308
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    1.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000
   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         1
4          896         0
5          897         0
6          898         0
7          899         0
8          900         1
9          901         0